<!--_meta 作为公共模版分离出去-->
{include file="common/meta"/}
<!--/meta 作为公共模版分离出去-->

<title> xdxd - 添加分类</title>
</head>
<body>
<article class="cl pd-20">
	<form action="{:url('Classify/classifyAdd')}" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">分类名：</label>
			<div class="formControls col-xs-6 col-sm-5">
				<input type="text" class="input-text" value="" placeholder="" id="c_name" name="c_name">
				<input type="hidden" name="__token__" value="{$Request.token}" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">分类状态：</label>
			<div class="formControls col-xs-6 col-sm-5 skin-minimal">
				<div class="radio-box">
					<input name="c_status" type="radio" id="c_status-1" value="1" checked>
					<label for="c_status-1">普通分类</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="c_status-2" name="c_status" value="2">
					<label for="c_status-2">首页推广</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-6 col-sm-5 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"/}
<!--/_footer /作为公共模版分离出去-->

<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
            c_name:{
				required:true,
                maxlength:10
			},
            c_status:{
				required:true,
                maxlength:1
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit(function (data) {
                var data = JSON.parse(data);
                var code = data["code"];
                var msg = data["msg"];
                layer.msg(msg,{
                    time: 0 //不自动关闭
                    ,btn: ['确定', '留在本界面']
                    ,yes: function(index){
                        layer.close(index);
                        //关闭编辑界面
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        parent.layer.close(index);
                    }
                });
            });
		}
	});
});
</script>
</body>
</html>