<!--_meta 作为公共模版分离出去-->
{include file="common/meta"/}
<!--/meta 作为公共模版分离出去-->

<title> xdxd - 编辑管理员</title>
</head>
<body>
<article class="cl pd-20">
	<form action="{:url('admin/adminEdit')}" method="post" class="form form-horizontal" id="form-admin-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$adminDetail.username}" placeholder="请输入用户名" id="adminName" name="adminName">
				<input type="hidden" name="aId" value="{$adminDetail.Id}" />
				<input type="hidden" name="__token__" value="{$Request.token}" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$adminDetail.tName}" placeholder="请输入真实姓名" id="trueName" name="trueName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" id="sex-1" value="0" {if $adminDetail.sex eq 0}checked{/if}>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="sex" value="1" {if $adminDetail.sex eq 1}checked{/if}>
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$adminDetail.tel}" placeholder="请输入手机号" id="phone" name="phone">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>身份证号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$adminDetail.IDcard}" placeholder="请输入身份证号" id="idcard" name="idcard">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$adminDetail.email}" placeholder="@" name="email" id="email">
			</div>
		</div>
		<div class="row cl" style="height: 100px">
			<label class="form-label col-xs-4 col-sm-3">用户头像：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<!--隐藏域限制文件大小-&#45;&#45;1000为1000字节即1k，2000000即2000k=2M-->
				<input type="hidden" name="MAX_FILE_SIZE" value="20000000">
				<input type="file" class="input-text pos-a" id="headimg" name="headimg" style="width: 100px;height: 100px;z-index: 999;opacity: 0">
				<img src="{if $adminDetail.headimg eq null}__STATIC__/admin/img/member/upLoad.png{else /}__STATIC__/uploads/admin/{$adminDetail.headimg}{/if}" class="pos-a" style="width: 100px;height: 100px;">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box" style="width:150px;">
					<select class="select" name="adminRole" size="1">
						<option value="">选择角色</option>
						{volist name="rlist" id="ro"}
						<option value="{$ro.Id}" {if $adminDetail.roleId eq $ro.Id} selected {/if}>{$ro.role}</option>
						{/volist}
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"/}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    //获取图片地址
    $("#headimg").change(function(){
        var imgTag=$(this).next("img");
        var imgFile=this.files.item(0);
        var _url=window.URL.createObjectURL(imgFile);  //获取地址
        imgTag.attr("src",_url);
    });
    /***************/
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:2,
				maxlength:10
			},
            trueName : {
                required:true,
                minlength:2,
                maxlength:10
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
                minlength:11,
                maxlength:11,
				isPhone:true,
			},
            idcard : {
                required:true,
                minlength:18,
                maxlength:19,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            $(form).ajaxSubmit(function (data) {
                var data = JSON.parse(data);
                var code = data["code"];
                var msg = data["msg"];
                layer.msg(msg,{
                    time: 0 //不自动关闭
                    ,btn: ['确定', '留在本界面']
                    ,yes: function(index){
                        layer.close(index);
                        //关闭编辑界面
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        parent.layer.close(index);
                    }
                });
            });
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>