<!--_meta 作为公共模版分离出去-->
{include file="common/meta"/}
<!--/meta 作为公共模版分离出去-->

<title>xdxd - 用户编辑</title>
</head>
<body>
<article class="cl pd-20">
	<form action="{:url('admin/member/memberEdit')}" method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="{$member.username}" placeholder="用户名" id="username" name="username">
				<input type="hidden" id="mid" name="mid" value="{$member.Id}">
				<input type="hidden" name="__token__" value="{$Request.token}" /><!---表单令牌--->
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="{$member.trueName}" placeholder="真实姓名" id="truename" name="truename">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>身份证号：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="{$member.idcard}" placeholder="身份证号" id="IDcard" name="IDcard">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-6 col-sm-6 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" id="sex-1" value="0" {if $member.sex eq 0}checked{/if}>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="sex" value="1" {if $member.sex eq 1}checked{/if}>
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" value="{$member.tel }" placeholder="手机号码" id="mobile" name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" placeholder="@" name="email" id="email" value="{$member.email}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">微信：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<input type="text" class="input-text" placeholder="微信" id="wechat" name="wechat" value="{$member.wxId}">
			</div>
		</div>
		<div class="row cl" style="height: 100px">
			<label class="form-label col-xs-4 col-sm-3">用户头像：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<!--隐藏域限制文件大小-&#45;&#45;1000为1000字节即1k，2000000即2000k=2M-->
				<input type="hidden" name="MAX_FILE_SIZE" value="20000000">
				<input type="file" class="input-text pos-a" id="headimg" name="headimg" style="width: 100px;height: 100px;z-index: 999;opacity: 0">
				<img src="{if $member.headimg eq null}__STATIC__/admin/img/member/upLoad.png{else /}__STATIC__/uploads/admin/{$member.headimg}{/if}" class="pos-a" style="width: 100px;height: 100px;">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-6 col-sm-6">
				<textarea name="beizhu" cols="" rows="" class="textarea"  placeholder="说点什么...最多输入30个字符" onKeyUp="textarealength(this,30)">{$member.content}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/30</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-4 col-sm-4 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"/}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    //获取图片地址
    $("#headimg").change(function(){
        var imgTag=$(this).next("img");
        var imgFile=this.files.item(0);
        var _url=window.URL.createObjectURL(imgFile);  //获取地址
        imgTag.attr("src",_url);
    });
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			username:{
				required:true,
				minlength:2,
				maxlength:6
			},
            truename : {
                required:true,
                minlength:2,
                maxlength:6
			},
            IDcard : {
                required:true,
                minlength:18,
                maxlength:18
			},
			sex:{
				required:true,
			},
			mobile:{
				required:true,
				isMobile:true,
			},
			email:{
				required:true,
				email:true,
			},
            beizhu : {
                maxlength:30
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit(function (data) {
                var data = JSON.parse(data);
                var code = data["code"];
                var msg = data["msg"];
                layer.msg(msg,{
                    time: 0 //不自动关闭
                    ,btn: ['确定', '留在本界面']
                    ,yes: function(index){
                        layer.close(index);
                        //关闭编辑界面
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        parent.layer.close(index);
                    }
                });
            });
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>