<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    {css href="__STATIC__/index/login/css/style.css"}
    {css href="__STATIC__/index/login/css/type.css"}
    <link rel="icon" type="image/x-icon" href="__STATIC__/common/img/favicon.ico">
</head>
<body>
<section class="aui-flexView">
    <section class="aui-scrollView">
        <div class="aui-jop-chang">
            <h2>用户注册</h2>
        </div>
        <div class="aui-jop-top">
            <div class="aui-jop-top-box">
                <form action="{:url('index/user/regist')}"method="post">
                    <div class="aui-flex b-line">
                        <!--<div class="aui-form-item">-->
                        <!--<img src="__STATIC__/index/login/img/psd.png" alt="">-->
                        <!--</div>-->
                        <div class="aui-flex-box">
                            <input type="text" placeholder="请输入用户名" name="user">
                        </div>
                    </div>
                    <div class="aui-flex b-line">
                        <!--<div class="aui-form-item">-->
                            <!--<img src="__STATIC__/index/login/img/iphone.png" alt="">-->
                        <!--</div>-->
                        <div class="aui-flex-box">
                            <input type="text" placeholder="请输入手机号码" name="tel">
                        </div>
                    </div>
                    <div class="aui-flex b-line">
                        <!--<div class="aui-form-item">-->
                            <!--<img src="__STATIC__/index/login/img/psd.png" alt="">-->
                        <!--</div>-->
                        <div class="aui-flex-box">
                            <input type="pwd" placeholder="请输入8-16位密码" name="pwd">
                        </div>
                    </div>
                    <div class="aui-flex b-line">
                        <!--<div class="aui-form-item">-->
                        <!--<img src="__STATIC__/index/login/img/psd.png" alt="">-->
                        <!--</div>-->
                        <div class="aui-flex-box">
                            <input type="pwd" placeholder="请再次输入密码" name="repwd">
                        </div>
                    </div>
                    <div class="aui-flex b-line">
                        <!--<div class="aui-form-item">-->
                            <!--<img src="__STATIC__/index/login/img/psd.png" alt="">-->
                        <!--</div>-->
                        <div class="aui-flex-box">
                            <input type="text" placeholder="请输入邮箱" name="email">
                        </div>
                    </div>
                    <input type="hidden"name="__token__"value="{$Request.token}"/>
                    <div class="aui-form-button">
                        <input class="sd" type="submit" value="注册">
                    </div>
                </form>
            </div>
        </div>
        <div class="aui-register">
            <div style="max-width: 15%;margin: auto;height: 30px;">
                <a href="{:url('index/User/login')}" style="margin: -18px;">返回登录</a>
            </div>
        </div>
    </section>
    <!--_footer 作为公共模版分离出去-->
    {include file="/user/footer"/}
    <!--/footer 作为公共模版分离出去-->
</section>

</body>
{js href="__STATIC__/common/js/jquery-3.1.1.js"}
{js href="__STATIC__/common/js/jquery.validate-1.13.1.js"}
{js href="__STATIC__/common/js/messages_zh.min.js"}
{js href="__STATIC__/common/js/jquery.form.js"}
{js href="__STATIC__/common/layer/layer.js"}
{js href="__STATIC__/index/login/js/alert.js"}
<script>
    var validator = $("form").validate({
        rules:{
            user:{
                required:true,
            },
            tel:{
                required:true,
            },
            pwd:{
                required:true,
            },
            email:{
                required:true,
            }
        },
        messages:{
            user:{
                required:"用户名必填",
            },
            tel:{
                required:"手机号必填",
            },
            pwd:{
                required:"密码必填",
            },
            email:{
                required:"邮箱必填",
            }
        },
        submitHandler:function(form){
            $("form").ajaxSubmit(function (data) {
                var obj = JSON.parse(data);
                if (obj["code"]==0) {
                    dialog.success(obj["msg"],"{:url('index/user/login')}");
                }else{
                    dialog.error(obj["msg"]);
                }
            })
        }
    });
</script>
</html>